*{
    margin: 0; padding: 0;
}

body {  
  font-family: 'Roboto', sans-serif;
}

.hero{
    height: 648px;
    width: auto;
    background-image:linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.3)), url(img/hero.png);    
    background-repeat: no-repeat;
    background-size: 100% 648px;
}

.logo{
    font-family: 'Roboto';
    color:#2A75E6;
    font-weight: bold;
    font-size: 48px;
    font-style: normal;
    
}

.btn-login{
    font-size: 26px;
    width: 152px;
    height: 51px;
    font-family: 'Roboto';
}

a.mc.nav-link{
    font-size: 26px;
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 500;
}

p.text-center.font-weight-bold{
    font-size: 64px;
    color: #ffffff;
    margin-bottom: 0;
    line-height: 75px;
}

p.text-center{
    font-size: 36px;
    font-weight: 500;
    color: #ffffff;
    line-height: 52px;
}

div.hero-text{
    margin-top: 100px;
}


button.btn.btn-getstarted{
    color: #ffffff;
    background-color: #E6752A;
    width: 300px;
    height: 120;
    font-size: 32px;
    font-weight: 500;
    border-radius: 5px;
}